.body-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  .page-content {
    display: inline-block;
    width: 100%;
    padding-top: 100px;
    position: relative;
    .title-header {
      display: inline-block;
      width: 100%;
      margin-bottom: 80px;
      .heading-title {
        margin-bottom: 50px;
      }
    }
    .border-short-bottom {
      h3 {
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
      .half-txt {
        display: inline-block;
        width: 60%;
        margin: 0 auto;
        color: #7e7e7e;
        line-height: 25px;
        font-size: 15px;
      }
    }
    .border-short-bottom {
      h3::after {
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 60px;
        height: 2px;
        margin-left: -31px;
        content: "";
        background: #595959;
      }
    }
    .feature-border-box {
      position: relative;
      padding: 30px;
      border: 1px solid #e9e9e9;
      border-radius: 4px;
      .icon {
        position: absolute;
        top: -30px;
        left: 30px;
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 4px;
        background: #222;
        box-shadow: 0 0 0 10px #fff;
        line-height: 60px;
        i {
          color: #fff;
          font-size: 30px;
          line-height: 60px;
        }
        &:hover {
          background-color: $color-yellow1;
          -webkit-transition: $transition ease;
          transition: $transition ease;
        }
      }
      .title {
        display: inline-block;
        margin-top: 30px;
      }
      .desc {
        color: #7e7e7e;
      }
    }
    .heading-title-alt {
      margin-bottom: 50px;
    }
    .portfolio-filter {
      li {
        display: inline-block;
        a {
          margin: 0 15px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #a9a8a8;
          font-size: 14px;
          transition: $transition;
        }
        a:hover {
          text-decoration: none;
          color: black;
        }
      }
    }
    .team-member {
      position: relative;
      overflow: hidden;
      .team-img {
        position: relative;
        .team-intro {
          position: absolute;
          right: 0;
          bottom: 30px;
          width: 70%;
          padding: 10px 20px;
          text-align: right;
          background: rgba(0, 0, 0, 0.7);
          h5,
          span {
            margin-bottom: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: white;
            font-size: 14px;
          }
        }
      }
      .team-hover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        -webkit-transition: $transition;
        transition: $transition;
        opacity: 0;
        border: 20px solid rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.9);
        .desk {
          position: absolute;
          top: 0;
          width: 100%;
          padding: 0 20px;
          -webkit-transition: $transition 0.2s;
          transition: $transition 0.2s;
          -webkit-transform: translateY(-55%);
          -ms-transform: translateY(-55%);
          transform: translateY(-55%);
          opacity: 0;
          -moz-transition: $transition 0.2s;
          -ms-transition: $transition 0.2s;
          -o-transition: $transition 0.2s;
          h4 {
            margin-bottom: 25px;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            color: #222;
          }
          p {
            margin-bottom: 0;
            color: #7e7e7e;
            font-size: 14px;
            font-weight: normal;
            line-height: 30px;
          }
        }
        .s-link {
          position: absolute;
          bottom: 0;
          width: 100%;
          -webkit-transition: $transition 0.2s;
          transition: $transition 0.2s;
          -webkit-transform: translateY(45%);
          -ms-transform: translateY(45%);
          transform: translateY(45%);
          text-align: center;
          opacity: 0;
          font-size: 35px;

          a {
            text-align: center;
            color: #222;
            margin: 0 10px;
            font-size: 16px;
          }
        }
        &:hover {
          opacity: 1;
          .desk {
            opacity: 1;
            top: 35%;
          }
          .s-link {
            opacity: 1;
            bottom: 10%;
          }
        }
      }
    }
    .promo-box.gray-bg {
      background: #f5f5f5;
      margin: 100px 0px;
      // position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      padding: 40px;
      .promo-info {
        h4 {
          margin-bottom: 0;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 18px;
          span {
            display: inline;
            margin-top: 0;
            color: $color-yellow1;
          }
        }
        span {
          display: block;
          margin-top: 10px;
          color: #7e7e7e;
        }
      }
      .promo-btn {
        // position: absolute;
        // top: 50%;
        // right: 40px;
        // margin-top: -28px;
        .btn {
          padding: 15px 30px;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border: none;
        }
        a:hover {
          background-color: $color-yellow1;
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
        }
      }
    }
    .post-list-aside {
      display: inline-block;
      width: 100%;
      padding-bottom: 100px;
      .post-single {
        position: relative;
        .post-img {
          position: relative;
          img {
            width: 100%;
          }
          .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            color: #fff;
            background: rgba(0, 0, 0, 0.5);
          }
        }
        .post-desk {
          padding: 30px 0;
          .post-cat {
            padding: 0;
            list-style: none;
            font-size: $fs-1 - 1;
            li {
              display: inline-block;
              margin-right: 10px;
              a {
                color: $color;
              }
              a:hover {
                text-decoration: none;
                color: $color-yellow1;
                transition: $transition;
                -webkit-transition: $transition;
                -moz-transition: $transition;
                -ms-transition: $transition;
                -o-transition: $transition;
              }
            }
          }
          h4 {
            margin-bottom: 10px;
            letter-spacing: 1px;
            a {
              color: black;
              font-size: $fs-2;
            }
            a:hover {
              text-decoration: none;
              color: $color-yellow1;
              transition: $transition;
              -webkit-transition: $transition;
              -moz-transition: $transition;
              -ms-transition: $transition;
              -o-transition: $transition;
            }
          }
          .date {
            float: left;
            width: 100%;
            height: auto;
            margin-right: 0;
            margin-bottom: 25px;
            padding-top: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: transparent;
            background: none;
            font-size: 14px;
            a {
              color: $color;
              font-size: $fs-1 - 1;
            }
            a:hover {
              text-decoration: none;
              color: $color-yellow1;
              transition: $transition;
              -webkit-transition: $transition;
              -moz-transition: $transition;
              -ms-transition: $transition;
              -o-transition: $transition;
            }
            span {
              color: $color;
            }
          }
          p {
            margin: 0 0 30px;
            color: #7e7e7e;
            line-height: 30px;
          }
          .p-read-more {
            margin: 0 0 30px;
            color: #bbbbbb;
            line-height: 30px;
            font-size: $fs-2;
            &:hover {
              text-decoration: none;
              color: $color-black-0;
              transition: $transition;
              -webkit-transition: $transition;
              -moz-transition: $transition;
              -ms-transition: $transition;
              -o-transition: $transition;
              i {
                color: $color-black-0;
                transition: $transition;
                -webkit-transition: $transition;
                -moz-transition: $transition;
                -ms-transition: $transition;
                -o-transition: $transition;
              }
            }
          }
        }
      }
    }
  }

  .post-parallax {
    overflow: hidden;
    width: 100% !important;
    height: 100%;
    background-image: url(../img/2952019.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    .dark-overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.5);
    }
    .container {
      .v-middle {
        display: table;
        width: 100%;
        height: 400px;
        vertical-align: middle;
        h3 {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          letter-spacing: 6px;
        }
      }
      .space {
        padding: 0 30px;
        .p-top-30 {
          padding-top: 30px;
          .massive-progress {
            overflow: visible;
            height: 20px;
            margin-top: 10px;
            margin-bottom: 50px;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-radius: 0;
            background: #eae8e8;
            box-shadow: none;
            font-weight: 400;
            background: #606060;
            .progress-bar {
              position: relative;
              overflow: visible;
              box-sizing: border-box;
              padding-top: 0;
              padding-left: 10px;
              text-align: left;
              color: black;
              background-color: #fff;
              box-shadow: none;
              font-size: 10px;
              line-height: 20px;

              span {
                position: absolute;
                top: -28px;
                right: -5px;
                display: inline-block;
                min-width: 25px;
                height: 20px;
                padding: 0 8px;
                text-align: center;
                letter-spacing: 0;
                color: #fff;
                border-radius: 30px;
                background-color: #666 !important;
                line-height: 20px;
                &::before {
                  position: absolute;
                  bottom: -2px;
                  left: 15px;
                  display: block;
                  width: 5px;
                  height: 5px;
                  content: "";
                  transform: rotate(45deg);
                  border-style: none;
                  border-color: #666;
                  border-right: 1px solid #666;
                  border-image: none;
                  background-color: #666;
                }
              }
            }
          }
        }
      }
    }
  }
  .protfoli-content {
    height: 600px;
    display: inline-block;
    width: 100%;
    .protfoli-item {
      left: 0px;
      top: 0px;
      float: left;
      padding: 0px;

      .thumb {
        position: relative;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
        .portfolio-hover {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0;
          transition: $transition;
          opacity: 0;
          border: 20px solid rgba(0, 0, 0, 0.1);
          background-color: rgba(255, 255, 255, 0.9);

          .action-btn {
            position: absolute;
            top: 0;
            width: 100%;
            transition: $transition;
            transform: translateY(45%);
            text-align: center;
            opacity: 0;
            font-size: 35px;
          }
        }
        .portfolio-description {
          position: absolute;
          bottom: 0;
          width: 100%;
          transition: $transition;
          transform: translateY(-55%);
          opacity: 0;

          h4 {
            margin-bottom: 5px;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-size: 14px;
          }

          p {
            margin-bottom: 0;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #757575;
            font-size: 12px;
            font-family: "Abel", sans-serif;
            font-weight: normal;
          }
          a {
            color: black;
            text-decoration: none;
            transition: $transition;
            &:hover {
              color: $color-yellow1;
            }
          }
        }
      }
      &:hover {
        .portfolio-hover {
          opacity: 1;
          .action-btn {
            opacity: 1;
            top: 40%;
            margin-top: -55px;
          }
        }
        .portfolio-description {
          opacity: 1;
          bottom: 40px;
        }
      }
    }
    .owl-theme {
      .owl-dots {
        position: absolute;
        right: 5px;
        bottom: 0;
        button {
          width: 10px;
          height: 10px;
          margin-right: 8px;
          span {
            width: 10px;
            height: 10px;
            margin: 0px;
            background: none;
            border: 1px solid #fff;
          }
          &:focus {
            outline: none;
          }
        }
        .active {
          background-color: #fff;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
  }
  .parallax-image {
    padding: 150px 0;
    background-image: url(../img/shoe.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    .heading-title {
      width: 100%;
      .heading-sub-title {
        letter-spacing: 3px;
        font-size: 16px;
      }
      .theme-color {
        color: $color-yellow1;
      }
    }
    h1 {
      margin-bottom: 0;
    }
    .button-style {
      margin-top: 50px;
      a {
        background: $color-yellow1;
        border: none;
        padding: 15px 30px;
        font-size: 14px;
        font-weight: normal;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        min-width: 160px;
        color: $color-white-0;

        &:hover {
          background: $color-white-0;
          color: $color-black-0;
        }
      }
    }
  }
}

@keyframes yourAnimation1 {
  0% {
    width: 0%;
  }
  100% {
    transform: rotate(xx);
    width: 80%;
  }
}

@keyframes yourAnimation2 {
  0% {
    width: 0%;
  }
  100% {
    transform: rotate(xx);
    width: 90%;
  }
}

@keyframes yourAnimation3 {
  0% {
    width: 0%;
  }
  100% {
    transform: rotate(xx);
    width: 75%;
  }
}
